@import 'variables';

.gh-fo-20-b {
  font-size: 20px;
  font-weight: bold;
}

.gh-cta {
  color: white !important;
  background-color: $primary-color;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none !important;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Gilroy', sans-serif;
  margin-top: 24px;
}

.gh-fo-28 {
  font-size: 28px;
}

.gh-info-box {
  margin: 24px 0;
  background-color: $dark-color;
  border-radius: 16px;
  overflow: hidden;

  &.gh-faq {
    .gh-info__body p {
      border-bottom: 1px solid #202020;
    }
  }

  .gh-info__head {
    background-color: #202020;
    padding: 16px 24px;
    font-weight: 600;
    font-size: 20px;
    margin: 0 !important;
    font-family: 'Gilroy', sans-serif !important;

    @media screen and (min-width: 768px) {
      padding: 24px 32px;
      font-size: 24px;
    }
  }

  .gh-info__body {
    padding: 24px;

    @media screen and (min-width: 768px) {
      padding: 32px;
    }
  }
}

.gh-connect-box {
  margin: 24px 0;
  padding: 24px;
  border: 1px solid $gray;
  background-color: $dark-color;
  border-radius: 16px;

  h3 {
    font-weight: 500 !important;
    margin: 0 0 8px !important;
    font-size: 24px !important;
  }

  @media screen and (min-width: 768px) {
    padding: 32px;
  }
}

.gh-about-stack {
  border-radius: 16px;
  margin: 32px 0;
  overflow: hidden;
  background-color: $dark-color;

  @media screen and (min-width: 768px) {
    margin: 48px 0;
  }

  .head {
    padding: 16px 24px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 !important;
    background-color: $primary-color;
    font-family: 'Gilroy', sans-serif !important;

    @media screen and (min-width: 768px) {
      padding: 24px 32px;
      font-size: 24px;
    }
  }

  .body {
    padding: 24px;

    @media screen and (min-width: 768px) {
      padding: 32px;
    }
  }
}

