// Text
$text-color: #101010;
$dark-color: #161616;
$dark-color-lt: #1e1e1e;
$border-dark-color: #202020;
$text-color-lt: #ababab;
$text-color-white: #e8e8e8;
$text-color-white-lt: rgba(white, .7);

// New website Color Scheme
$primary-color: #6d64d8;
$pale-blue: #F8F8FF;
$green: #298C78;
$orange: rgba(255, 116, 0, 0.7);
$purple: rgba(128, 42, 219, 0.7);
$pink: rgba(255, 79, 123, 0.7);
$blue: #4893CF;
$golden: #A3926B;
$gray: rgba(35, 35, 35, .5);
$silver-lt: #F5F6FA;
$rules-color: #2f2e30;


// Font sizes
$link: 18px;
$link-sm: 16px;
